POSTGRES_USER=user
POSTGRES_PASSWORD=root
POSTGRES_DB=gameDash
DATABASE_URL=postgres://user:root@db:5432/gameDash

PORT=3000
NODE_ENV=development

VITE_API_URL=http://localhost:3000/api
VITE_POCKETBASE_URL=http://localhost:8090

POCKETBASE_ADMIN_EMAIL=admin@example.com
POCKETBASE_ADMIN_PASSWORD=admin123456
POCKETBASE_ENCRYPTION_KEY=your-secret-key-change-in-production-min-32-chars
